<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- stylesheet -->
		<link rel="stylesheet" href="/css/w3.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/extras">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:heymayhew@gmail.com">email</a></li>
			<li><a href="../John Mayhew Resume 2020 github.pdf" target="_blank">resume</a></li>
        		<li><a href="https://github.com/jmayhew4">github.com/jmayhew4</a></li>
			</ul>
		</footer>
	</body>
</html>
